
.Title{
    padding: 2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}


.main_links_container{

    align-content: center;

}

body{

    text-align: center;
    font-family: 'Raleway', sans-serif;
    align-content: center;

}


.main_links{


    margin: 1rem;

    text-align: center;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size:x-large;
    padding: 1rem;


}