
.Title{

    text-align: center;
    font-family: 'Raleway', sans-serif;

}


.main_links_container{



}

body{

    text-align: center;
    font-family: 'Raleway', sans-serif;


}


.main_links{

    text-align: center;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    padding: 1rem;


}